@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }

  li {
    justify-content: center;
  }

  .list-wrap {
    flex-basis: 50%;
    width: 60%;
  }

  .modal-container {
    width: 80%;
  }

  .top-row-wrap {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .list-wrap {
    display: flex;
    flex-direction: column;
    height: 30rem;
  }

  .text-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .modal-text-wrap {
    margin-left: 0;
  }

  .add-btn-wrap {
    display: flex;
    justify-content: center;
  }

  .add {
    margin-top: 0;
  }

  .top-row-wrap {
    align-items: center;
  }
}
